# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv
venv/
env/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# MATLAB
*.asv
*.mex*
*.mdl.r*
*.slxc

# OS
.DS_Store
Thumbs.db

# Figures / temporary
*.pdf~
*.tmp
